* {
    box-sizing: border-box;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
li {
    list-style: none !important;
}
a {
    text-decoration: none !important;
}
.navbar {
    overflow: hidden;
    background-color: whitesmoke;
    top: 0;
  }
.navbar a {
    float: right;
    display: block;
    color: #e64072;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #e64072;
    color: white;
}

.main {  
    background-color: white;
    padding: 20px;
    flex: 100%;
    align-items: center;
    justify-content: center;
}
h2 {
    font-size: 7vmin;
}
.font-blue {
    color:#62aec5;
}
video {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}
.img-collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    background-color: #c2dfdd;
}
.img-collage img{
    margin: 10px;
    max-width: 20%;
    height:40%;
}
.content {
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 5% auto;
    overflow: hidden;
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    
}
.col-50{
    flex-basis: calc(50% - 30px); 
    /* background-color: whitesmoke; */
    padding: 20px;
    margin-right: 10px; /* Space between columns */
    box-sizing: border-box;
}
.rows{  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    justify-content: center;   
}
.row{
    display: flex;
    flex-wrap:nowrap;
    margin: 0 -10px;
}

.main-container {
    display: flex;
    flex-wrap:nowrap;
    margin: 0 -10px;
    flex-direction: column;

}

.col{
    flex: 0.4;
    padding: 0 10px;
}
.cols {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
.col-1{
    flex:1;
}
.col-2{
    flex:2;
}

.works-img {
    width: 30em;
    height:20em;

}
.company-img {
    margin-left: -30%;
    width: 80%;
    height:80%;
    z-index:1;
 
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e64072;
    margin-top:5%;
    margin-left: -5%;
    z-index: 0;
    width:80%;
    max-width:500px;
    max-height:500px;
}
.circle ul {
    padding:4em;
}
.circle li {
    padding:0.4em;
}
.circle a{
    color: white;
}

hr {
    border-color:#62aec5;
}
.btn-right{
    float: right;
}

.btn {
    border: none;
    font-weight: bold;
    text-align: center;
    background-color: #62aec5;
    border-radius: 4px;
    padding:12px 24px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.btn-main{
    border: none;
    font-weight: bold;
    text-align: center;
    background-color: #e64072;
    border-radius: 50px;
    padding:32px 64px;
    cursor: pointer;
    width:30%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.btn-main a{
    color:whitesmoke;
}

.btn a {
    color: white;
}
.btn:hover {
    background-color: #e64072;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.btn-main:hover {
    background-color: #62aec5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.footer{
  
    background-color: #e64072;
    height:50%;
    border-radius:0 60% 0 0;
    padding: 3% 10%;
    max-width: 100%;
    margin: 0 auto;
   
}
.footer a {
    color:black;
}
.footer a:hover {
    color: whitesmoke
}
.footer img {
    height:20em;
    width:20em;
  }


/* WORKS PAGE */
.top-container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
    width: 100%; 
    overflow: hidden;
}
.slider img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.mySlides {display:none;}
.title-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    max-width: 30%;
}
.title-container h2{
    margin-bottom: 10px;
    color: whitesmoke;
}
.title-container p{
    font-size: 2vmin;
    color: whitesmoke
}
.container-blue-top {
    background-color: #c2dfdd;
    display: flex;
    background:none;
    height:40%;
    position:relative;
    overflow:hidden;
    z-index:1;
   
}
.container-blue-top:after {
    content:'';
    position:absolute;
    left:-680%;
    width:1300%;
    padding-bottom:650%;
    top:60%;
    background:none;
    border-radius:100%;
    box-shadow: 0px 0px 0px 9999px #c2dfdd;
    z-index:-1;
}
.text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    max-width: 30%;
  }
  .text-container h1 {
    font-size: 4vmin;
  }
  .text-container li {
    font-size: 2vmin;
    padding:5px;
  }
  .container-white {
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
  .container-blue-bottom {
    background-color: #c2dfdd;
    height:145%;
    position: relative;
    width:200%;
    right:25%;
    border-radius:40% 0 0 0;
  }
  .container-blue-bottom .content{
    position: absolute;
    top:-5%;
    bottom:0;
    left: 25%;
    width: 30%;
    height: 100%;
   
  
  }
  .container-blue-bottom .content h3{
    font-size: 6vmin;
    
  }
  .grid-container-4 {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 10px;
   
  }
  .grid-item {
    padding: 10px;
  }
  .grid-container-4 img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  }

  /* COMPANY PAGE */
  .top-container img {
    width: 100%;
    height: auto;
    object-fit:cover;
  }
  .ceo-img {
    width: 100%;
    height: auto;
    object-fit:cover;
  }
  .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    height:20%;
  }
  .grid-container-2 img {
    height: 100%;
  }
  .vision-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e64072;
    border-radius: 50%;
    width: 15em;
    height:15em;
    padding: 2em;
    
    
  }
  .vision-title h3 {
    color: whitesmoke;
    font-size: 3vmin;
  }
 .mision-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62aec5;
    border-radius: 50%;
    width: 15em;
    height:15em;
    padding: 2em;
 }
 .mision-title h3 {
    color: whitesmoke;
    font-size: 3vmin;
  }
.profile-container{
    margin-left: 10%;
}
td:first-child{
    width: 20%;
}
td, th {
padding: 1em;
/* border: 1px solid #ccc; */
} 
.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    
}
.image-container {
    position: relative;
    height:100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-image: url("../images/service.jpg");
    background-size: cover;
    background-position: center;
    padding: 10%;
   
  }
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1;
  }
.text {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    /* align-items: center; */
    padding: 20px;
    z-index:2;
    width: 100%;
}
.bottom-container .text h5 {
    font-size: 5vmin;
    color: white; 
    align-self: flex-start;
}
.text button {
    /*position*/
    display: flex;
    align-self:flex-end;
    margin-right:10%;

    /** borders **/
    border-radius: 50%;
    border-color: #e64072;
    border-width: 10px;
    border-right-width: 25px;
    border-style:double;

    /**/
    background-color: #62aec5;
    width: 12%;
    height:30%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    /*text*/
    padding: 3em;
    color: #ddd;
    align-content: center;
    justify-content: space-evenly;
 
}
.text button:hover {
    background-color: #e64072;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

}
.text a{
    color: #ddd;
    font-weight: bold;
    font-size: 1.5vmin;   
}

/* NEWS */
.news-top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;
    position: relative;
    min-height: 80%;
}
.news-top-container h2{
    flex:0.2;
}
.news-nav ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.news-nav li {
    padding:1em;
}
.news-nav a{
    display: block; /* or inline-block */
    width: 10em;
    text-align: center;
    background-color: rgb(164, 162, 162, 0.3);
    color: black;
    border-radius: 50px;
    padding:5px 10px;
    cursor: pointer;
    font-size: 1vmin;
  
    
}
.news-nav a.active {
    background-color: #62aec5;
    color: whitesmoke;  
}
.news-items img{ 
    width: 30em;
    height:20em;
    border-color: #c2dfdd;
    border-style:solid;
    border-width: 20px;
}
.news-items p {
    font-size: 1.5vmin;
}
.newsdate-div {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start;
    
}
.newsdate-div p {
    font-size: 2vmin;
    color: #62aec5;
    font-weight: bold;
    padding-right:20px;
}
.newsdate-div a {
    display: block; /* or inline-block */
    width: 8em;
    text-align: center;
    background-color: #62aec5;
    color: white;
    padding:5px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1vmin;
    
}


/* MOBILE DEVICE */
@media screen and (max-width: 700px) {
    .main-container {
        margin: auto -100px;
    }
    .row{
        margin: auto -100px;
    }  
   /*home*/
    .company-img {
        display: none;
    }
    /*works page*/
    .slider-container{
        z-index:1;
    }
    .container-blue-top{
        margin-top: -70%;
        z-index:0;
    }

    /*company page*/
    .grid-container-2 {
        grid-template-columns: 1fr;
    }
    /*News*/
  
}
@media screen and (max-width: 400px) {
    .company-img {
        display: none;
    }

    /* .navbar a {
        float: none;
        width: 100%;
    } */
}

